<h1 id="-">Отчет о результатах курсовой работы</h1>
<p>Крицкий Алексей, 2 курс, 9 группа. Результаты работы над курсовым проектом за 20-26 февраля 2019.</p>
<h2 id="-">Содержание</h2>
<ul>
<li>Калибровка</li>
<li>Нахождение стереосоответствий</li>
<li>Получение карты глубины</li>
<li>Результаты</li>
<li>Заключение</li>
</ul>
<hr>
<h3 id="-">Калибровка</h3>
<p>Удалось "откалибровать камеры" и получить параметры для корректировки изображений стереопары. Для этого понадобилось 18 снимков шахматной доски (8х7 клеток, с размером каждой 35 мм).</p>
<h3 id="-">Нахождение стереосоответствий</h3>
<p>На выровненных изображениях стереопары (с помощью полученных параметров корректировки) находятся стереосоответствия на любых других стереопарах, снятых с той же установки, что дает карту диспарантности изображения. В качестве алгоритма стересопоставления использовал алгоритм SAD-окон. Он относительно прост в реализации и в общем должен давать приемлемый результат, однако плохо справляется на слаботекстурироанных участках изображений и областей перекрытия объектов (т.е. на их границах).</p>
<h3 id="-">Получение карты глубины</h3>
<p>Карта глубины вытекает из карты диспарантности, полученной при стереосопоставлении, с помощью вычисленных ранее при стереокаллибровке параметров.<br>К сожалению, при поиске стереосоответствий возникают проблемы на слабо текстурированных областях изображения - остаются неопределенные и вырожденные участки. Также заметно значительное "разбухание" границ объектов.</p>
<hr>
<h3 id="-">Результаты</h3>
<p>Результат карты глубины при первой попытке стереокалибровки (использовались две различные камеры для стересъемки):<br><img title="Результат 1.1" alt="Результат 1.1" src="/home/kindli/Lessons/fpy2019/tasks/task001/reports/report_course_work_260219/disp_map_1.1.png"><br><img title="Результат 1.2" alt="Результат 1.2" src="/home/kindli/Lessons/fpy2019/tasks/task001/reports/report_course_work_260219/disp_map_1.2.png"><br><img title="Результат 1.3" alt="Результат 1.3" src="/home/kindli/Lessons/fpy2019/tasks/task001/reports/report_course_work_260219/disp_map_1.3.png"><br><img title="Результат 1.4" alt="Результат 1.4" src="/home/kindli/Lessons/fpy2019/tasks/task001/reports/report_course_work_260219/disp_map_1.4.png">  </p>
<p>Результат карты глубины при второй попытке стереокалибровки (для стереосъемки используется одна перемещающаяся камера). В этом случае качество результатов получилось ниже, чем в первом:<br><img title="Результат 2.1" alt="Результат 2.1" src="/home/kindli/Lessons/fpy2019/tasks/task001/reports/report_course_work_260219/disp_map_2.1.png"><br><img title="Результат 2.2" alt="Результат 2.2" src="/home/kindli/Lessons/fpy2019/tasks/task001/reports/report_course_work_260219/disp_map_2.2.png"><br><img title="Результат 2.3" alt="Результат 2.3" src="/home/kindli/Lessons/fpy2019/tasks/task001/reports/report_course_work_260219/disp_map_2.3.png">  </p>
<p>Карты глубины (слева) изображений (справа), полученное по карте расстояние до чаши кубка выведено в нижнем окне. На данных трех изображениях ошибка определения расстояния не превысила 3%.</p>
<h3 id="-">Заключение</h3>
<p>Таким образом, необходимо работать над более высоким качеством каллибровки и выравнивания стереопар, избавляясь от неопределенных и вырожденных участков при нахождении стереосоответсвий. Также для выделения объектов необходимо добиваться более четких границ.</p>
